
body{
    font-family: "Open Sans", sans-serif;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    margin: 0%;
    padding:0%;

}
.header {
    background-color: transparent !important;
    position: fixed;
  }

.icons {
    background-color: rgb(64, 201, 232);
}

.destacados {
    margin: auto;
    display: flex;
    justify-content: center;
}
.card-body {
    background: rgb(64, 201, 232);
}

.viajes {
    font-size: x-large;
    justify-content: flex-start;
}
.col-md-8 {
    justify-content: flex-end;
    display: flex;
}